body {
    border-radius: rounded;
    text-align: center;
    overflow-x:hidden

  }

#hero-section{
    height: 400px;
    background-color: black;
    color: white;
    background-size: cover;
    background-attachment: fixed;
    text-shadow: 1px 1px 2px #b37700;
    text-align: center;
}

#hero-section h1{
    padding: 200px;
}

#Animals-section{
    position:relative;
}

#Animals-section h2{
    padding: 100px;
}


.image-carousel {
    display: flex;
    overflow-x: auto; /* Enables horizontal scrolling */
    gap: 10px;
    padding: 10px;
}

.image-carousel img {
    width: 150px;
    height: auto;
    flex-shrink: 0; /* Prevent images from shrinking */
    border-radius: 5px; /* Optional */
}

#sugarGliders{
    background-color:white;
}

#chinchillas{
    background-color:white;
}


#About-Us-Section{
    padding: 50px;
    background-color: black;
    color: white;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

#About-Us-Section h1{
    width:80%;
    margin-left: 100px;
}

#About-Us-Section h3{
    width:80%;
    margin-left: 100px;
}

#About-Us-Section p{
    width:80%;
    margin-left: 100px;

}

.container-fluid {
    display: flex;
}